{
  "presets": [
    "module:metro-react-native-babel-preset"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["../common"],
      "alias": {
        "config": "../common/config"
      }
    }]
  ]
}
